
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
     
button{
  padding: 8px;
  width: 210px;
  border: solid;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s;
  color:black;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.4);
  border-color: rgba(255,255,255,.2);
  text-transform: uppercase;


}

button:hover{
  transform: scale(1.05);
  background-color: rgba(245, 245, 245, 0.6);
  box-shadow: 0 4px 4px rgba(0,0,0,.3);
}

.container{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.pages {
  display: flex;
  width: 200%;
  box-sizing: border-box; 
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  transition: all 0.7s;
  color: white;
}

.one{
  background-image: url(cats/cat11.jpg);
  background-position:top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}   

.main2{
  width:100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.6);
  color:white;
  
  

}

.two{
  background-image : linear-gradient(to left bottom,
  lightblue, lightpink, lightblue);
  min-height: 100vh;
}


 .fun{
  position: absolute;
  color:bisque;
  top:230px;
  left:440px;
    font-size: 70px;
    word-spacing:2px;
    letter-spacing: 5px;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
   
.arrow{
  position: absolute;
  top:390px;
  left: 990px;
  font-size: 60px;
color:pink;
}

.arroww{
  position: absolute;
  top:300px;
  right:400px
}

.imgg{
  width:40vw;
  height: 45vh;
  box-shadow: 4px 5px 8px rgb(0, 0, 0, 0.4);
  border-radius: 5%;
}
    

#para{
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
  color:black;
  margin-left: 100px;
  margin-right: 100px;
}

.para1{
  position: absolute;
  top:320px;
  left:150px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-right: 130px;
  font-size: larger;

}


.quote{
  position: absolute;
  left:40px;
  top:480px;
  text-align: center;
  font-style: italic;
  font-size: large;

}

.cast{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  position: absolute;
  left:60px;
  top:507px;
}

@media (max-width : 576px) {
  .one{
  /*  background-image: url(cats/cat11.jpg); */
     background-color: aquamarine;
    
  }   
  
      .fun{
        left:85px;
        top:180px;
        font-size: 45px;
      }

      .para1{
        font-size:15px;
        left:50px;
        top:239px;
        width:270px

      }

      .arrow{
        left:340px;
        font-size:30px;
      }
      
      .quote{
        font-size:13px;
        left:10px;
        top:500px
      }
     .cast{
      font-size: medium;
      left: 15px;
      top:530px;
     }

     #para{
      font-size:14px;
      width:210px;
      margin-left:300px ;
      
     }
     .two{
          width:100vh;
          text-align: center;
     }
     .imgg{
      margin-left: 200px;
      width:240px;
     }

     button{
      margin-left: 200px;
      font-size:15px ;
      width:200px;
     }
}